/* Font pairing discovered on fontjoy.com */
@import url('https://fonts.googleapis.com/css?family=Abril Fatface|Martel');

/* Main Header styling */
.main-header {
    /* Picture taken from https://www.pexels.com/ */
    background-image: url("/assets/images/header-background-image.webp");
    background-color: #cccccc;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
